@model PizzAkuten.Models.Order
@inject UserService UserService
@{
    ViewData["Title"] = "Ta bort";
}

<h2>Ta bort</h2>

<h3>Är du säker på att du vill ta bort ordern</h3>
<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrderDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TotalPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TotalPrice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Delivered)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Delivered)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser)
        </dt>
        <dd>
            @if (Model.ApplicationUserId != null)
            {
                @UserService.GetApplicationUserById(Model.ApplicationUserId).Email
            }
           
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NonAccountUser)
        </dt>
        <dd>
            @if (Model.NonAccountUserId != 0)
            {
                @UserService.GetNonAccountUserById(Model.NonAccountUserId).Email
            }
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="OrderId" />
        <input type="submit" value="Ta bort" class="btn btn-default" /> |
        <a asp-action="Index">Tillbaka</a>
    </form>
</div>
