@model PizzAkuten.Models.Order
@inject ManageOrderService ManagerOrderService
@inject PaymentService PaymentService
@inject UserService UserService

@{
    ViewData["Title"] = "Details";
    var order = ManagerOrderService.GetOrderByOrderId(Model.OrderId);
    var cart = ManagerOrderService.GetCartFromOrderId(Model.OrderId);
}

<h2>Details</h2>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            OrderId
        </dt>
        <dd>
            @order.OrderId
        </dd>
        <dt>
            OrderDate
        </dt>
        <dd>
            @order.OrderDate
        </dd>
        <dt>
            TotalPrice
        </dt>
        <dd>
            @order.TotalPrice
        </dd>
        <dt>
            Delivered
        </dt>
        <dd>
            <form id="form" asp-controller="ManageOrder" asp-action="Edit" asp-route-id="@Model.OrderId">
                <input asp-for="@Model.Delivered" type="checkbox" onchange="$('#form').submit();"/>
            </form>
        </dd>
        <dt>
            ApplicationUser
        </dt>
        <dd>
            @if (order.ApplicationUserId != null)
            {
                @UserService.GetApplicationUserById(order.ApplicationUserId).Email
            }
          
        </dd>
        <dt>
            NonAccountUser
        </dt>
        <dd>
            @if (order.NonAccountUserId != 0)
            {
                @UserService.GetNonAccountUserById(order.NonAccountUserId).Email
            }
        </dd>
        <dt>
            Cart
        </dt>
    </dl>
    <table class="table table-bordered">
        <thead>
        <tr>
            <td>Dish</td>
            <td>Price</td>
            <td>Quantity</td>
        </tr>
        </thead>
     <tbody>
        @foreach (var item in cart)
        {
            <tr>
            <td>@item.Dish.Name</td>

            <td>@item.Dish.Price</td>

            <td>@item.Quantity</td>
            </tr>
        }
     </tbody>
    </table>
       
  
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
