@model IEnumerable<PizzAkuten.Models.Order>
@inject ManageOrderService ManagerOrderService
@inject PaymentService PaymentService
@inject ManageOrderService ManageOrderService

@{
    ViewData["Title"] = "Index";
    var orders = ManagerOrderService.GetAllOrders();
   
}

<h2>Index</h2>

<table class="table">
    <thead>
        <tr>
                <th>
                    OrderId
                </th>
                <th>
                    OrderDate
                </th>
            <th>
                Delievered
            </th>
            <th>
                Total Price
            </th>
            <th>
                Payment
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in orders) {
        <tr>
            <td>
                @item.OrderId
            </td>
            <td>
                @item.OrderDate
            </td>
            <td>
                <form id="form" asp-controller="ManageOrder" asp-action="Edit" asp-route-id="@item.OrderId">
                    <input asp-for="@ManageOrderService.GetOrderByOrderId(item.OrderId).Delivered" type="checkbox" onchange="$('#form').submit();"/>
                </form>
            </td>
            <td>
                @item.TotalPrice
            </td>
            <td>
                @{var payment = PaymentService.GetPaymentByOrderId(item.OrderId);}
                <a asp-action="Details" asp-controller="Payment" asp-route-id ="@payment.PaymentId">@payment.PaymentId</a>
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.OrderId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.OrderId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
