@model PizzAkuten.Models.Payment

@{
    ViewData["Title"] = "Ta bort";
}

<h2>Ta bort</h2>

<h3>Är du säker på att du vill ta bort denna betalning</h3>
<div>
    <h4>Betalning</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CardNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CardNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cvv)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cvv)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Month)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Month)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="PaymentId" />
        <input type="submit" value="Ta bort" class="btn btn-default" /> |
        <a asp-action="Index">Tillbaka</a>
    </form>
</div>
