@model PizzAkuten.Models.Payment
@inject UserService UserService
@{
    ViewData["Title"] = "Details";
}
<h2>Details</h2>
<div>
    <h4>Payment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PayMethod)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PayMethod)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CardNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CardNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cvv)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cvv)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Month)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Month)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsPaid)
        </dt>
        <dd>
            <form id="form" asp-controller="Payment" asp-action="Edit" asp-route-id="@Model.PaymentId">
                <input type="hidden" value="@Model.PaymentId"/>
                <input asp-for="@Model.IsPaid" type="checkbox" onchange="$('#form').submit();"/>
            </form>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser)
        </dt>
        <dd>
            @if (Model.ApplicationUserId != null)
            {
                @UserService.GetApplicationUserById(Model.ApplicationUserId).Email
            }
           
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NonAccountUser)
        </dt>
        <dd>
            @if (Model.NonAccountUserId != 0)
            {
                @UserService.GetNonAccountUserById(Model.NonAccountUserId).Email
            }
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Order)
        </dt>
        <dd>
            <a asp-controller="ManageOrder" asp-action="Details" asp-route-id="@Model.OrderId">@Model.OrderId</a>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
