@model PizzAkuten.Models.Payment
@inject UserService UserService
@inject OrderService OrderService
@inject PaymentService PaymentService
@{
    ViewData["Title"] = "Detaljer";
    var orderId = OrderService.GetOrderByPaymentId(Model.PaymentId);
}
<h2>Detaljer</h2>
<div>
    <h4>Betalning</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PayMethod)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PayMethod)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CardNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CardNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cvv)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cvv)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Month)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Month)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsPaid)
        </dt>
        <dd>
            <form id="form" asp-controller="Payment" asp-action="Edit" asp-route-id="@Model.PaymentId">
                <input asp-for="@Model.IsPaid" type="checkbox" onchange="$('#form').submit();"/>
            </form>
        </dd>
        <dt>
            Användare
        </dt>
        <dd>
            @if (orderId != 0)
            {
                @UserService.GetApplicationUserEmailByOrderId(orderId)
            }
           
        </dd>
        <dt>
            Användare utan konto
        </dt>
        <dd>
            @if (orderId != 0)
            {
                @UserService.GetNonAccountUserEmailByOrderId(orderId)
            }
        </dd>
        <dt>
            Order
        </dt>
        <dd>
            <a asp-controller="ManageOrder" asp-action="Details" asp-route-id="@orderId">@orderId</a>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Tillbaka</a>
</div>
