@model IEnumerable<PizzAkuten.Models.Payment>
@inject PaymentService PaymentService
@inject OrderService OrderService
@{
    ViewData["Title"] = "Index";
}
<h2>Betalningar</h2>
<p>
    <a asp-action="Create">Skapa ny</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PayMethod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CardNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cvv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Month)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsPaid)
            </th>
            <th>
               Order
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PayMethod)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CardNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cvv)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Month)
                </td>
                <td>
                            <input asp-for="@PaymentService.GetPaymentByOrderId(item.PaymentId).IsPaid" type="checkbox" disabled/>
                   
                </td>
                <td>
                    <a asp-controller="ManageOrder" asp-action="Details" asp-route-id="@OrderService.GetOrderByPaymentId(item.PaymentId)">@OrderService.GetOrderByPaymentId(item.PaymentId)</a>
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.PaymentId">Detaljer</a> |
                    <a asp-action="Delete" asp-route-id="@item.PaymentId">Ta bort</a>
                </td>
            </tr>
        }
    </tbody>
</table>
