@inject PizzAkuten.Services.OrderService OrderService

    @{ 
        var cart = OrderService.GetOrderForCurrentSession(Context.Session);
    }

        <div class="col-md-3" id="cartDiv">
            <h5>Kundkorg</h5>
            @if (cart != null)
            {
                @foreach (var dish in cart.OrderItems)
                {
                    <div>
                        @dish.OrderDish.Name, @dish.Quantity st, @dish.OrderDish.Price kr 
                        <a asp-controller="Order" asp-action="RemoveFromCart" asp-route-dishId="@dish.OrderDish.DishId" class="glyphicon glyphicon-minus"></a>
                        <a asp-controller="Order" asp-action="AddToCart" asp-route-dishId="@dish.OrderDish.DishId" class="glyphicon glyphicon-plus"></a>
                    </div>
                }
               
                <div>
                   Summa:  @cart.TotalPrice
                </div>
                <a class="button button-default" asp-controller="Order" asp-action="ViewOrder">Till Kassa</a>
            }
      
        </div>
    
  
