@model Order
@inject SignInManager<ApplicationUser> SignInManager


<h2>Din Order</h2>

<label>@Model.OrderId</label>

@foreach (var item in Model.Cart.CartItems)
{

    <div>
        <label>Namn: </label>  @item.Dish.Name
    </div>
    <div>
        <label>Pris: </label> @item.Dish.Price
    </div>
    <div>
        <label>Antal: </label>  @item.Quantity
    </div>

}


@if (!SignInManager.IsSignedIn(User))
{
    <form asp-controller="Payment" asp-action="Create" method="post">

        <h4>Leveransadress</h4>
        <hr />
        <input name="OrderId" value="@Model.OrderId" type="hidden"/>
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label>Förnamn</label>
            <input name="FirstName" class="form-control" required/>
        </div>
        <div class="form-group">
            <label>LastName</label>
            <input name="LastName" class="form-control" required/>
        </div>
        <div class="form-group">
            <label>Gata</label>
            <input name="Street" class="form-control" required/>
        </div>
        <div class="form-group">
            <label>Postnummer</label>
            <input name="ZipCode" class="form-control" required/>
        </div>
        <div class="form-group">
            <label>Stad</label>
            <input name="City" class="form-control" required/>
        </div>
        <div class="form-group">
            <label>Email</label>
            <input name="Email" class="form-control" required/>
        </div>
        <div class="form-group">
            <label>Telefonnummer</label>
            <input name="Phone" class="form-control" required />
        </div>
        <button type="submit" class="btn btn-default">Spara</button>
    </form>

}