@model PizzAkuten.Models.Dish

@{
    ViewData["Title"] = "Detaljer";
}

<h2>Detaljer</h2>

<div>
    <h4>Rätt</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DishIngredients)
        </dt>
    
        @foreach (var dish in Model.DishIngredients)
        {
            <dd>
                @dish.Ingredient.Name
            </dd>
        }

        <dt>
            @Html.DisplayNameFor(model => model.DishExtraIngredients)
        </dt>

        @foreach (var dish in Model.DishExtraIngredients)
        {
            <dd>
                @dish.ExtraIngredient.Name
            </dd>
        }
    </dl>
</div>
<div>
    <a asp-controller="Home"asp-action="Index">Tillbaka</a>
</div>



