@model PizzAkuten.Models.EditDishViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Dish</h4>
<form asp-action="Edit" asp-controller="Order" method="post">
    <input type="hidden" asp-for="EditDish.DishId" />
    <div class="form-group">
        <label asp-for="EditDish.Name" class="control-label"></label>
        <input asp-for="EditDish.Name" class="form-control" value="@Model.EditDish.Name" disabled/>
        <input type="hidden" asp-for="EditDish.Name" />
    </div>
    <div class="form-group">
        <label asp-for="EditDish.Price" class="control-label"></label>
        <input asp-for="EditDish.Price" class="form-control" value="@Model.EditDish.Price" disabled/>
        <input type="hidden" asp-for="EditDish.Price" />
    </div>
    <label asp-for="EditDish.DishIngredients" class="control-label">Ingredienser</label>
    <div class="form-group">

        @for (int i = 0; i < Model.EditDish.DishIngredients.Count; i++)
        {
            <label asp-for="@Model.EditDish.DishIngredients[i].Ingredient.Name" class="control-label">@Model.EditDish.DishIngredients[i].Ingredient.Name</label>
            <input asp-for="@Model.EditDish.DishIngredients[i].IngredientId" value="@Model.EditDish.DishIngredients[i].IngredientId" hidden />
            <input asp-for="@Model.EditDish.DishIngredients[i].Ingredient.Name" value="@Model.EditDish.DishIngredients[i].Ingredient.Name" hidden />

            <input asp-for="@Model.EditDish.DishIngredients[i].Ingredient.IsChecked" type="checkbox" value="true" />
        }
    </div>
    <div class="form-group">

        @for (int i = 0; i < Model.ExtraIngredients.Count; i++)
        {
            <label asp-for="@Model.ExtraIngredients[i].Name" class="control-label">@Model.ExtraIngredients[i].Name</label>
            <label asp-for="@Model.ExtraIngredients[i].Price" class="control-label">@Model.ExtraIngredients[i].Price kr</label>
            <input asp-for="@Model.ExtraIngredients[i].Name" value="@Model.ExtraIngredients[i].Name" hidden />
            <input asp-for="@Model.ExtraIngredients[i].Price" value="@Model.ExtraIngredients[i].Price" hidden />
            <input asp-for="@Model.ExtraIngredients[i].ExtraIngredientId"  value="@Model.ExtraIngredients[i].ExtraIngredientId" hidden/>
            <input asp-for="@Model.ExtraIngredients[i].IsChecked" type="checkbox" value="true" />
        }
    </div>
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>




