@model Dish
@inject DishService DishService
@inject OrderService OrderServive

@{
    ViewData["Title"] = "Ändra order";
    var extraIngredients = DishService.GetAllExtraIngredients();
}

<h2>Ändra order</h2>

<h4>Dish</h4>
<form asp-action="Edit" asp-controller="Order" method="post">
    <input type="hidden" asp-for="DishId" />
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" value="@Model.Name" disabled/>
    </div>
    <div class="form-group">
        <label asp-for="Price" class="control-label"></label>
        <input asp-for="Price" class="form-control" value="@Model.Price" disabled/>
    </div>
    <label asp-for="DishIngredients" class="control-label">Ingredienser</label>
    <div class="form-group">

        @for (int i = 0; i < Model.DishIngredients.Count; i++)
        {
            <label asp-for="@Model.DishIngredients[i].Ingredient.Name" class="control-label">@Model.DishIngredients[i].Ingredient.Name</label>
            <input asp-for="@Model.DishIngredients[i].IngredientId" value="@Model.DishIngredients[i].IngredientId" hidden />

            <input asp-for="@Model.DishIngredients[i].Ingredient.IsChecked" name="OrdinaryChecked-@Model.DishIngredients[i].IngredientId" type="checkbox" value="" />
        }
    </div>
    <div class="form-group">

        @for (int i = 0; i < extraIngredients.Count; i++)
        {
            <div>
            <label asp-for="@extraIngredients[i].Name" class="control-label">@extraIngredients[i].Name</label>
            <label asp-for="@extraIngredients[i].Price" class="control-label">@extraIngredients[i].Price kr</label>
                <input asp-for="@extraIngredients[i].IsChecked" name ="ExtraChecked-@extraIngredients[i].ExtraIngredientId" type="checkbox" value="" />
            </div>
        }
    </div>
        <div class="form-group">
            <input type="submit" value="Spara" class="btn btn-default" />
        </div>
</form>

<div>
    <a asp-controller="Home" asp-action="Index">Tillbaka</a>
</div>




