@model NonAccountUser
@inject UserService UserService
@inject SignInManager<ApplicationUser> SignInManager
@inject OrderService OrderService
@{
    ViewData["Title"] = "Order";
}
    @{
        var order = OrderService.GetOrder();
    }
<h2>Din Order</h2>

@foreach (var item in order.Cart.CartItems)
{
 
    <div>
        <label>Namn: </label>  @item.Dish.Name
    </div>
    <div>
        <label>Pris: </label> @item.Dish.Price
    </div>
    <div>
        <label>Antal: </label>  @item.Quantity
    </div>

}

<label>Summa: </label>  
@order.TotalPrice  

@if (SignInManager.IsSignedIn(User))
{
    var aUser = UserService.GetApplicationUser();
    <p>Dina uppgifter</p>
    <div>
        <label>Förnamn: </label>  @aUser.FirstName
    </div>
    <div>
        <label>Efternamn: </label> @aUser.LastName
    </div>
    <div>
        <label>Gatunamn: </label>  @aUser.Street
    </div>
    <div>
        <label>Postkod: </label>  @aUser.ZipCode
    </div>
    <div>
        <label>Postort: </label>  @aUser.City
    </div>
    <div>
        <label>Telefon: </label>  @aUser.PhoneNumber
    </div>
    <div>
        <label>Email: </label>  @aUser.Email
    </div>
    <a asp-controller="Order" asp-action="ConfirmOrder">Bekräfta order</a>

}

@if (!SignInManager.IsSignedIn(User))
{

    <form asp-controller="Order" asp-action="ConfirmOrder" method="post">
        <h4>Leveransadress</h4>
        <hr />
        <input name="OrderId" value="@order.OrderId" type="hidden" />
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="FirstName"></label>
            <input name="FirstName" asp-for="FirstName" class="form-control" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="LastName"></label>
            <input name="LastName" asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Street"></label>
            <input name="Street" asp-for="Street" class="form-control" />
            <span asp-validation-for="Street" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ZipCode"></label>
            <input name="ZipCode" asp-for="ZipCode" class="form-control" />
            <span asp-validation-for="ZipCode" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="City"></label>
            <input name="City" asp-for="City" class="form-control" />
            <span asp-validation-for="City" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Email"></label>
            <input name="Email" asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Phone"></label>
            <input name="Phone" asp-for="Phone" class="form-control" />
            <span asp-validation-for="Phone" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-default">Spara</button>
    </form>

}

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}








