@model Order
@inject UserService UserService
@inject SignInManager<ApplicationUser> SignInManager


<h2>Din Order</h2>

@foreach (var item in Model.Cart.CartItems)
{
 
    <div>
        <label>Namn: </label>  @item.Dish.Name
    </div>
    <div>
        <label>Pris: </label> @item.Dish.Price
    </div>
    <div>
        <label>Antal: </label>  @item.Quantity
    </div>

}

<label>Summa: </label>  
@Model.TotalPrice  

@if (SignInManager.IsSignedIn(User))
{
    var aUser = UserService.GetApplicationUser();
    <p>Dina uppgifter</p>
    <div>
        <label>Förnamn: </label>  @aUser.FirstName
    </div>
    <div>
        <label>Efternamn: </label> @aUser.LastName
    </div>
    <div>
        <label>Gatunamn: </label>  @aUser.Street
    </div>
    <div>
        <label>Postkod: </label>  @aUser.ZipCode
    </div>
    <div>
        <label>Postort: </label>  @aUser.City
    </div>
    <div>
        <label>Telefon: </label>  @aUser.PhoneNumber
    </div>
    <div>
        <label>Email: </label>  @aUser.Email
    </div>
    <a asp-controller="Order" asp-action="ConfirmOrder">Bekräfta order</a>

}

@if (!SignInManager.IsSignedIn(User))
{

    <form asp-controller="Order" asp-action="ConfirmOrder" method="post">
        <h4>Leveransadress</h4>
        <hr />
        <input name="OrderId" value="@Model.OrderId" type="hidden" />
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label>Förnamn</label>
            <input name="FirstName" class="form-control" required />
        </div>
        <div class="form-group">
            <label>Efternamn</label>
            <input  name="LastName" class="form-control" required />
            <span asp-validation-for="NonAccountUser.LastName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>Gata</label>
            <input  name="Street" class="form-control" required />
            <span asp-validation-for="NonAccountUser.Street" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>Postnummer</label>
            <input  name="ZipCode" class="form-control" required />
            <span asp-validation-for="NonAccountUser.ZipCode" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>Postort</label>
            <input  name="City" class="form-control" required />
            <span asp-validation-for="NonAccountUser.City" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>Email</label>
            <input name="Email" class="form-control" required />
            <span asp-validation-for="NonAccountUser.Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>Telefonnummer</label>
            <input name="Phone" class="form-control" required />
            <span asp-validation-for="NonAccountUser.Phone" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-default">Spara</button>
    </form>

}





