@model List<Dish>
@{
    ViewData["Title"] = "PizzAkuten";

}

<div class="container">
    <div class="jumbotron">
    </div>
    <div class="col-md-6">
        <h1>Välkommen till PizzAkuten!</h1>
        <p>Pizzerian när du har ett behov av ett akutintag.</p>
        <p>Vi har pizzor, sallader, pastarätter, kebab och hamburgar på menyn.</p>
        <p>Beställ nu och vi garanterar leverans inom 40 minuter!</p>
    </div>
    @if (Model != null)
    {



    <div>
        @Html.Partial("_CartPartial", Model);
    </div>
    }
    @if (Model != null)
    {
    <table class="table">
        <thead>
            <tr>
                <th>
                    
                </th>
                <th>
                    Namn
                </th>
                <th>
                   Pris
                </th>
                <th>
                   Kategori
                </th>
                <th>
                    Beställ
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {


                <tr>
                    <td>
                        <img src="@item.ImagePath" alt="Alternate Text" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                       @Html.DisplayFor(modelItem => item.Category.Name) 
                    </td>
                    <td>
                        <a asp-controller="Order" asp-action="AddToCart" asp-route-dishId="@item.DishId" class="glyphicon glyphicon-shopping-cart"></a>
                        <a asp-controller="Order" asp-action="Details" asp-route-dishId="@item.DishId">Detaljer</a>
                        <a asp-controller="Order" asp-action="Edit" asp-route-dishId="@item.DishId">Ändra</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    }
</div>