@inject DishService DishService

@{
    ViewData["Title"] = "PizzAkuten";
    var dishes = DishService.GetAllDishesForMenu();
}

<div class="container indexbody">
    <div class="jumbotron col-md-12"></div>
   
    <div class="col-md-8 welcome-text">
        <h1>Välkommen till PizzAkuten!</h1>
        <h4>Pizzerian när du har ett behov av ett akutintag.</h4>
        <h4>Vi har pizzor, sallader, pastarätter, kebab och hamburgar på menyn.</h4>
        <h4>Beställ nu och vi garanterar leverans inom 40 minuter!</h4>
    </div>
    <div>
        @Html.Partial("_CartPartial")
    </div>
 

    <div class="col-md-12">
        @if (dishes != null)
        {

            foreach (var item in dishes)
                {

                <div class="col-md-3 menuDivs">
                    <div class="text-center">
                        <img id="dishImage" src="@item.ImagePath" alt="Alternate Text" />
                        <div>
                            @Html.DisplayFor(modelItem => item.Name)
                        </div>
                        @Html.DisplayFor(modelItem => item.Price)

                        @Html.DisplayFor(modelItem => item.Category.Name)

                        @if (User.IsInRole("admin"))
                    {
                            <a asp-controller="Dish" asp-action="Edit" asp-route-dishId="@item.DishId">Ändra</a>
                        }
                        else
                        {

                            <div><a asp-controller="Order" asp-action="AddToCart" asp-route-dishId="@item.DishId" class="glyphicon glyphicon-shopping-cart"></a></div>
                            <div><a asp-controller="Order" asp-action="Details" asp-route-dishId="@item.DishId">Detaljer</a></div>
                            <div><a asp-controller="Order" asp-action="Edit" asp-route-dishId="@item.DishId">Ändra ingredienser</a></div>
                        }
                    </div>
                </div>
            }
        }
    </div>
</div>